<!-- <h1>Mis primeros pasos en angular</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum error, voluptatem perferendis quibusdam, repellendus magni esse explicabo quam id suscipit cupiditate iste architecto obcaecati sapiente unde voluptate alias dolorem necessitatibus!</p>
<ol>
  <li>Elemento 1</li>
  <li>Elemento 2</li>
  <li>Elemento 3</li>
  <li>Elemento 4</li>
  <li>Elemento 5</li>
</ol> -->

<!-- <nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="login">Login</a></li>
  </ul>
</nav>
<button type="button" class="btn btn-success">Success</button>
<i class="bi bi-2-square"></i> -->
<router-outlet />

