<div *ngFor="let product of allProducts" class="products-container">
  <div class="card">
      <img src="https://asset.scott-sports.com/sco/sco-bike-division-women-clothing-content-box-170124_2115614.jpg?signature=aa7d36327cc20a32e3f17b653ca27c4ac69efba5486e89057f30f30d1f83d2f3"/>
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6>{{product.category}}</h6>
        <h6>Stock: {{product.isAvailable ? "Disponible" : "No disponible"}}</h6>
        <h6>Cantidad: {{product.stock}}</h6>
        <h6>Precio: ${{product.price}}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Comprar</a>
      </div>
    </div>
</div>